$primary_color: #a517ba;
$secondary_color:#5f1782;
$white:#fff;
$span_color:#71CBCF;
$logo:#fff;
$blak:#000;
$ser1_color: #a417ba9c;
$ser_color:#71cacf93;
$bg_color:#f8f9fa;
$txt_color:#333;
$start_color:#e2a726;
$nav_bg:#ffffff9c
